{% load  static %}
<!-- Modal -->
<div class="modal fade" id="detailTramiteModal" tabindex="-1" aria-labelledby="detailTramiteModal"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Detalles del Tramite </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Tramite</h5>
                    <input id="det_tramite_id" style="display: none">

                    <div class="row">
                        <div class="col-5">
                            <div class="col-2 d-flex ">
                                <div class="col-sm-12"><span>Cliente:</span></div>
                                <div class="col-sm-12">
                                    <p id="cliente"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="col-2  ">
                                <div class="col-sm-2"><span>Departamento:</span></div>
                                <div class="col-sm-8">
                                    <p id="dpto_tramite"></p>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="row">
                        <div class="col-5">
                            <div class="col-2 d-flex ">
                                <div class="col-sm-12"><span>Conclusión:</span></div>
                                <div class="col-sm-12">
                                    <p id="det_tramite_conclusion_queja"></p>
                                </div>
                            </div>
                            <div class="col-2 d-flex ">
                                <div class="col-sm-8"><span>Nivel de Solución:</span></div>
                                <div class="col-sm-8">
                                    <p id="det_tramite_nivel_solucion"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">

                            <div class="col-2  ">
                                <div class="col-sm-2"><span>Respuesta:</span></div>
                                <div class="col-sm-8">
                                    <p id="det_tramite_respuesta"></p>
                                </div>
                            </div>


                        </div>


                    </div>

                    {#                    <div class="row">#}
                    {#                        <div class="col-2 d-flex align-items-baseline">#}
                    {#                            <div class="col-sm-3"><span>Fecha:</span></div>#}
                    {#                            <div class="col-sm-8">#}
                    {#                                <p id="det_tramite_fecha"></p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-2 d-flex align-items-baseline">#}
                    {#                            <div class="col-sm-3"><span>Expira:</span></div>#}
                    {#                            <div class="col-sm-4">#}
                    {#                                <p id="det_expira_en"></p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-2 d-flex align-items-baseline">#}
                    {#                            <div class="col-sm-3"><span>Responsable:</span></div>#}
                    {#                            <div class="col-sm-10">#}
                    {#                                <p id="det_tramite_responsable"></p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-2 d-flex align-items-baseline">#}
                    {#                            <div class="col-sm-3"><span>Departamento:</span></div>#}
                    {#                            <div class="col-sm-10">#}
                    {#                                <p id="det_tramite_departamento_asignado"></p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}


                </div>


            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
