{% load  static %}
<!-- Modal -->
<div class="modal fade" id="detailTramiteModal" tabindex="-1" aria-labelledby="detailTramiteModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Detalles del Tramite </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Tramite</h5>


                    <div class="row">
                        <input id="det_tramite_id" style="display: none">
                        <div class="col-1  label "><span>Fecha:</span></div>
                        <div class="col-2 "><p id="det_tramite_fecha"></p></div>
                        <div class="col-2  label "><span>Expira en:</span></div>
                        <div class="col-2 "><p id="det_expira_en"></p></div>
                        <div class="col-2  label "><span>Responsable:</span></div>
                        <div class="col-3 "><p id="det_tramite_responsable"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-1 label "><span>Depto</span></div>
                        <div class="col-3 "><p id="det_tramite_departamento_asignado"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-1 label "><span>Respuesta</span></div>
                        <div class="col-3 "><p id="det_tramite_respuesta"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-1 label "><span>Respuesta</span></div>
                        <div class="col-3 "><p id="det_tramite_respuesta"></p></div>
                        <div class="col-1 label "><span>Respuesta</span></div>
                        <div class="col-3 "><p id="det_tramite_respuesta"></p></div>
                    </div>


                </div>


            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
