{% extends 'admin/dashboard_admin.html' %}

{% block content_dashboar %}

    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            {% if user.role == 'client' %}
                <div class="filter">
                    <div class="icon">
                        <a class="icon" href="{% url 'quejas_create' %}" data-bs-toggle="tooltip"
                           data-bs-placement="top" data-bs-original-title="nueva queja"><i
                                class="bi bi-file-earmark-plus-fill"></i></a>
                    </div>


                </div>

            {% endif %}

            <div class="card-body">
                <h5 class="card-title">Quejas <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Asunto</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Estado</th>
                        {% if user.departamentos.exists %}
                            <th scope="col">Tramitar</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if quejas %}
                        {% for queja in object_list %}
                            <tr>
                                <th scope="row"><a href="#">{{ queja.id }}</a></th>
                                <td>{{ queja.municipio| default:'-' }}</td>
                                <td>{{ queja.asunto }}</td>

                                <td>{{ queja.departamento_asignado.nombre | default:'su queja aun esta en espera' }}</td>
                                {% if queja.procesado %}
                                    <td><span class="badge bg-success">Approved</span></td>
                                {% elif queja.enTramite %}
                                    <td><span class="badge bg-danger">Rejected</span></td>

                                {% else %}
                                    <td><span class="badge bg-warning">Pending</span></td>
                                {% endif %}


                            </tr>
                        {% endfor %}


                    {% else %}
                        <tr>
                            <th scope="row"><a href="#">nada para mostrar</a></th>

                        </tr>
                    {% endif %}


                    </tbody>
                </table>

            </div>

        </div>
    </div>

{% endblock %}

